<h1>Listing events</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Hour</th>
    <th>Minute</th>
    <th>Second</th>
    <th>Compare</th>
    <th>Temperature</th>
    <th>Instruction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.type %></td>
    <td><%= event.hour %></td>
    <td><%= event.minute %></td>
    <td><%= event.second %></td>
    <td><%= event.compare %></td>
    <td><%= event.temperature %></td>
    <td><%= event.instruction %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
